@using CI_Plateform.Models;
@model LoginViewModel

<div class="container container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            @{
                var i = 0;
            }
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    @foreach (var item in @Model.banner)
                    {
                        var tempclass = "";
                        @if (i == 0)
                        {
                            tempclass = "active";
                        }
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i"
                            class="@tempclass" aria-current="true" aria-label="Slide @i"
                            style="width: 5px;height: 5px;border-radius: 100%;"></button>
                        i++;
                    }

                </div>
                <div class="carousel-inner">
                    @{
                        i = 0;
                    }
                    @foreach (var item in @Model.banner)
                    {
                        var tempclass = "carousel-item";
                        @if (i == 0)
                        {
                            tempclass = "carousel-item active";
                            i++;
                        }
                        <div class="@tempclass">
                            <img src="@Url.Content(@item.Image)"
                             class="d-block w-100 imgheight" alt="Error">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="CorouselTitle">
                                    @item.Title
                                </h3>
                                <p class="CorouselText">
                                    @item.Text
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev" style="display:none;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next" style="display:none;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="col-md-4 col-sm-12 wrapper vcenter-item" style="padding: 0px;">
            <div class="box">
                <form method="post">
                    <div class="form-group mb-1 gap">
                        <label class="label font" asp-for="User.FirstName">First Name</label>
                        <input type="text" class="form-control font" asp-for="User.FirstName"
                               style="display: inline;box-shadow: none;" placeholder="Ritul">
                        <span asp-validation-for="User.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-1 gap">
                        <label class="label font" asp-for="User.LastName">Last Name</label>
                        <input type="text" class="form-control font" asp-for="User.LastName"
                               style="display: inline;box-shadow: none;" placeholder="Limbasiya">
                        <span asp-validation-for="User.LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-1 gap">
                        <label class="label font" asp-for="User.Email">Email Address</label>
                        <input type="text" class="form-control font" asp-for="User.Email"
                               style="display: inline;box-shadow: none;" placeholder="ritul@gmail.com">
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-1 gap">
                        <label class="label font" asp-for="User.PhoneNumber">Phone Number</label>
                        <input type="text" class="form-control font" asp-for="User.PhoneNumber"
                               style="display: inline;box-shadow: none;" placeholder="8923454615">
                        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-1 gap">
                        <label class="label font" asp-for="User.Password">Password</label>
                        <input type="password" class="form-control font" style="display: inline;box-shadow: none; "
                               asp-for="User.Password" placeholder="********" required="">
                        <span asp-validation-for="User.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3 gap">
                        <label class="label font" asp-for="User.Password">Confrim Password</label>
                        <input type="password" class="form-control font" style="display: inline;box-shadow: none; "
                               asp-for="User.Password" placeholder="********" required="">
                        <span asp-validation-for="User.Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="form-control rounded-pill btn btn-outline-warning font"
                            style="box-shadow:none;">
                        Register
                    </button>
                    <div class="font rppolicy">
                        <a asp-controller="Login" asp-action="PolicyPage" class="hover">Privacy Policy</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
