@using CI_Plateform.Models;
@model StoryCardModel

<div class="body-1">
    <div class="body-2">
        <div class="nevbar-1" style="height:43px;">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid" style="padding:0px;justify-content:initial;">
                    <button class="navbar-toggler pad1 pe-2" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="dropdown navbar-toggler">
                        <a href="#" class="d-flex align-items-center text-black text-decoration-none"
                           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                            <li><a class="dropdown-item" asp-controller="MyProfile" asp-action="Myprofile">My Profile</a></li>
                            <li><a class="dropdown-item" asp-controller="Timesheet" asp-action="Timesheet">Volunteering Timesheet</a></li>
                            <li><a class="dropdown-item" asp-controller="Login" asp-action="Login">Logout</a></li>
                        </ul>
                    </div>
                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
                         id="navbarSupportedContent" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="hover2 nav-link" style="" asp-controller="StoryListing" asp-action="StoryListing">Stories </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Policy <i class="bi bi-chevron-down ps-1" style="font-size:12px;"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Plateform" asp-action="Plateform">Volunteering</a></li>
                                            <li><a class="dropdown-item" href="#">Sponsored</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <div class="dropdown">
                                    <a href="#" class="d-flex align-items-center text-black text-decoration-none"
                                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"
                                       style="float:right;">
                                        <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30"
                                             class="rounded-circle">
                                        <span class="d-none d-sm-inline mx-1">
                                            Ritul <i class="bi bi-chevron-down ps-1" style="font-size:12px;"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                                        <li><a class="dropdown-item" asp-controller="MyProfile" asp-action="Myprofile">My Profile</a></li>
                                        <li><a class="dropdown-item" asp-controller="Timesheet" asp-action="Timesheet">Volunteering Timesheet</a></li>
                                        <li><a class="dropdown-item" asp-controller="Login" asp-action="Login">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <hr class="mt-2">
    <div class="body-2">
        <div class="row  container25" style="margin:0px;">
            <div class="col-6 container26" style="padding:0px;">
                <img src="~/assets/image2.png" alt="Error" style="width:100%;">

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row" style="margin:0px;">
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy (2).png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy (4).png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy (5).png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy.png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6.png"
                                         alt="First slide">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row" style="margin:0px;">
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy (2).png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy (3).png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy (4).png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy (5).png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy.png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6.png"
                                         alt="First slide">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row" style="margin:0px;">
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy (2).png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy (3).png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy (4).png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy (5).png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6 - Copy.png"
                                         alt="First slide">
                                </div>
                                <div class="col container20">
                                    <img class="d-block w-100"
                                         src="~/assets/slide img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6.png"
                                         alt="First slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"
                       style="background-color: black; width: 15px;">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"
                       style="background-color: black; width: 15px;">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="col-6 container26" style="padding:0px;">
                <div class="body-5">

                    <div class="row pad7">
                        <div class="col">
                            <img style="width: 38px;height: 38px;border-radius: 100%;" src="~/assets/volunteer2.png"
                                 alt="Error">
                            <p style="font-size:10px;">@Model.user.FirstName  @Model.user.LastName</p>
                        </div>
                        <div class="col pad8">
                            <button class="container21" style="border: solid 1px #e8e8e8;">
                                <img src="~/assets/eye.png" alt="Error" style="width: 12px;">
                                <span class="container22">12,000 Views</span>
                            </button>
                        </div>
                    </div>
                    <p style="font-size:10px;">
                        @Model.user.WhyIVolunteer
                    </p>

                    <div class="row pad5">
                        <div class="col mb-3">
                            <button type="submit" class="form-control rounded-pill btn btn-outline-secondary font"
                                    style="width: auto;font-size: 10px;">
                                <i class="bi bi-people pe-1"></i>Recommend to a
                                Co-Worker
                            </button>
                        </div>
                        <form method="post" action="ViewDetail">
                            @foreach (var obj in @Model.Missions)
                            {
                                @if (obj.MissionId == Model.story.MissionId)
                                {
                                    <div class="col mb-3">
                                        <button type="submit" asp-action="ViewDetail" asp-controller="Plateform" asp-route-id="@Model.story.MissionId" class="form-control rounded-pill btn btn-outline-warning font"
                                        style="width: auto;font-size: 10px;">
                                            Open Mission<i class="bi bi-arrow-right ps-1"></i>
                                        </button>
                                    </div>
                                }
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="text">
            <p style="font-size:10px;margin-top:10px; ">
                @Model.story.Title
            </p>
            <hr>
            <p style="font-size: 10px;">
                @Model.story.Description
            </p>
        </div>
    </div>
    <hr style="margin-top:35px;">
    <div class="body-2">
        <a asp-controller="Login" asp-action="PolicyPage" class="hover">Privacy Policy</a>
    </div>
</div>
