@using CI_Plateform.Models;
@model PlateformVM

<div class="body-1">
    <div class="body-2">
        <div class="nevbar-1" style="height:43px;">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid" style="padding:0px;justify-content:space-around;">
                    <button class="navbar-toggler pad1" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <span class="navbar-toggler pad1 pad01" style="margin-left:4px;">
                        <form class="form-horizontal">
                            <input type="search" class="form-control pad0" placeholder=" &#xF002; Search Mission"
                                   aria-label="Search" />
                        </form>
                    </span>
                    <div class="dropdown navbar-toggler border-0">
                        <a href="#" class="d-flex align-items-center text-black text-decoration-none"
                           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                            <li><a class="dropdown-item" asp-controller="Plateform" asp-action="Myprofile">My Profile</a></li>
                            <li><a class="dropdown-item" asp-controller="Plateform" asp-action="Timesheet">Volunteering Timesheet</a></li>
                            <li><a class="dropdown-item" asp-controller="Login" asp-action="Login">Logout</a></li>
                        </ul>
                    </div>
                    <button class="navbar-toggler pad4" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="bi bi-sliders2-vertical"></i>
                    </button>
                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
                         id="navbarSupportedContent" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Stories </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Policy <i class="bi bi-chevron-down ps-1" style="font-size:12px;"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Volunteering</a></li>
                                            <li><a class="dropdown-item" href="#">Sponsored</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="dropdown">
                                    <a href="#" class="d-flex align-items-center text-black text-decoration-none"
                                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/assets/user-img.png" alt="hugenerd" width="30" height="30"
                                             class="rounded-circle">
                                        <span class="d-none d-sm-inline mx-1">
                                            Ritul<i class="bi bi-chevron-down ps-1" style="font-size:12px;"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                                        <li><a class="dropdown-item" asp-controller="Plateform" asp-action="Myprofile">My Profile</a></li>
                                        <li><a class="dropdown-item" asp-controller="Plateform" asp-action="Timesheet">Volunteering Timesheet</a></li>
                                        <li><a class="dropdown-item" asp-controller="Login" asp-action="Login">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid border">
            <div class="body-2" style="display:flex;">
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="navbarScroll"
                     aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="navbar-collapse" id="navbarScroll">
                            <form class="form-horizontal me-auto mb-2 mb-lg-0 d-none d-lg-block  ">
                                <input type="search"  class="form-control"
                                       style="width:auto; border: 0px; font-family:Arial, FontAwesome;"
                                       placeholder="&#128269; Search Mission" aria-label="Search" />
                            </form>
                            <div class="col">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 cardcontainer19"
                                    style="float: right;border-left:1px solid #b3aeae;border-right:1px solid #b3aeae;">
                                    <li class="nav-item dropdown me-md-4">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Skills <i class="bi bi-chevron-down" style="font-size:12px;"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @foreach (var item in @Model.Skills)
                                            {
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <label>
                                                            <input type="checkbox"> @item.SkillName
                                                        </label>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 cardcontainer19"
                                    style="float: right;border-left:1px solid #b3aeae;">
                                    <li class="nav-item dropdown me-md-4">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Theme <i class="bi bi-chevron-down" style="font-size:12px;"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @foreach (var item in @Model.MissionThemes)
                                            {
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <label>
                                                            <input type="checkbox"> @item.Title
                                                        </label>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 cardcontainer19"
                                    style="float: right;border-left:1px solid #b3aeae;">
                                    <li class="nav-item dropdown me-md-4">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            City <i class="bi bi-chevron-down" style="font-size:12px;"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @foreach (var item in @Model.Cityes)
                                            {
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <label>
                                                            <input type="checkbox"> @item.Name
                                                        </label>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>

                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 cardcontainer19"
                                    style="float: right;border-left:1px solid #b3aeae;">
                                    <li class="nav-item dropdown me-md-4">
                                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Country <i class="bi bi-chevron-down" style="font-size:12px;"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @foreach (var item in @Model.Countryes)
                                            {
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <label>
                                                            <input type="checkbox" > @item.Name
                                                        </label>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="body-2">
        <div class="nevbar-3">
            <button type="submit" class="form-control rounded-pill btn btn-outline-secondary font"
                    style="width:auto;font-size: 12px;padding: 3px 7px;">
                Tree
                Plantation
                <img src="~/assets/cancel.png" alt="Error">
            </button>
            <button type="submit" class="form-control rounded-pill btn btn-outline-secondary font"
                    style="width:auto;font-size: 12px; padding: 3px 7px;">
                Canada
                <img src="~/assets/cancel.png" alt="Error">
            </button>
            <button type="submit" class="form-control rounded-pill btn btn-outline-secondary font"
                    style="width:auto;font-size: 12px; padding: 3px 7px;">
                Toronto
                <img src="~/assets/cancel.png" alt="Error">
            </button>
            <button type="submit" class="form-control rounded-pill btn btn-outline-secondary font"
                    style="width:auto;font-size: 12px; padding: 3px 7px;">
                Montreal
                <img src="~/assets/cancel.png" alt="Error">
            </button>
            <button type="submit" class="form-control rounded-pill btn btn-outline-secondary font"
                    style="width:auto;font-size: 12px; padding: 3px 7px;">
                Environment
                <img src="~/assets/cancel.png" alt="Error">
            </button>
            <button type="submit" class="form-control rounded-pill btn btn-outline-secondary font"
                    style="width:auto;font-size: 12px; padding: 3px 7px;">
                Nutrition
                <img src="~/assets/cancel.png" alt="Error">
            </button>
            <button type="submit" class="form-control rounded-pill btn btn-outline-secondary font"
                    style="width:auto;font-size: 12px; padding: 3px 7px;">
                Anthropology
                <img src="~/assets/cancel.png" alt="Error">
            </button>
            <button type="submit" class="form-control rounded-pill btn btn-outline-secondary font"
                    style="width:auto;font-size: 12px; padding: 3px 7px;">
                Environmental Science
                <img src="~/assets/cancel.png" alt="Error">
            </button>
            <button type="submit" class="form-control rounded-pill btn btn-outline-secondary font"
                    style="width:auto;font-size: 12px; padding: 3px 7px;">
                Clear all
            </button>
        </div>
    </div>
    <div class="body-2">
        <div class="nevbar-4">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <span class="nev4head1">
                        <span style="font-size: 14px;
                                font-weight: 300;">Explore </span>@Model.Missions.Count() missions
                    </span>
                    <div class="nev4container">
                        <div class="btn-group" style="width: 171px;height: 29px;">
                            <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" style="background-color:white; color:
                                     #414141; float: right; border: solid 1px #d9d9d9;">
                                Sort by <i class="bi bi-chevron-down ps-1" style="font-size:12px;"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item active" href="#">Newest</a></li>
                                <li><a class="dropdown-item" href="#">Oldest</a></li>
                                <li><a class="dropdown-item" href="#">Lowest available seats</a></li>
                                <li><a class="dropdown-item" href="#">Highest available seats</a></li>
                                <li><a class="dropdown-item" href="#">Short by my favourite</a></li>
                                <li><a class="dropdown-item" href="#">Short by deadline</a></li>
                            </ul>
                        </div>

                        <button class="gridbutton" style="border:0px; height: 30px;
                                width: 30px;  border-radius: 100%; margin-left: 26px;">
                            <img src="~/assets/grid.png" alt="Error" style="height: 17px;
                                width: 17px;">
                        </button>
                        <button class="listbutton" style="border:0px; height: 30px;
                                width: 30px;  border-radius: 100%;">
                            <img src="~/assets/list.png" alt="Error" style="height: 17px;
                                width: 17px;">
                        </button>

                        @*<ul class="navbar-nav  mb-2 mb-lg-0" style="float: right;">
                        <li class="nav-item dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="border:0px; height: 30px;
                        width: 30px;  border-radius: 100%; background-color:#ffffff;">
                        <img src="~/assets/list.png" alt="Error" style="height: 17px;
                        width: 17px;">
                        </button>
                        </li>
                        </ul>*@
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="body-2">
        <div class="row">
            @foreach (var card in @Model.Missions)
            {
                @if (@card.MissionType == 2)
                {
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4" style="padding: 0px 20px 12px 4px;">
                        <div class="card h-100 shadow">
                            <div class="cardcontainer11">
                                @*@foreach (var item in @Model.MissionMedia)
                        {
                        if (@card.MissionId == @item.MissionId)
                        {
                        <img src="@Url.Content(item.MediaPath)" class="card-img-top"alt="Error">
                        break;
                        }
                        }*@
                                <img src="~/assets/Animal-welfare-&-save-birds-campaign.png" class="card-img-top" alt="Error">
                                <button class="cardcontainer12">
                                    <img src="~/assets/pin.png" alt="Error" style="width:11px;">
                                    <span>@card.Country.Name</span>
                                </button>
                                <button class="cardcontainer13">
                                    <img src="~/assets/heart.png" alt="Error" style="width:11px; padding-bottom: 6px;">
                                </button>
                                <button class="cardcontainer14">
                                    <img src="~/assets/user.png" alt="Error" style="width:11px; padding-bottom: 6px;">
                                </button>
                                <button class="cardcontainer15">
                                    @card.MissionTheme.Title
                                </button>
                            </div>
                            <div class="card-body" style="margin-bottom:-15px;position: relative;">
                                <p class="card-title">@card.ShortDescription</p>
                                <p class="card-text">
                                    @card.ShortDescription
                                </p>
                                <div class="cardcontainer1" style="display:flex;align-items:baseline;">
                                    <p class="cardcontainer2">@card.OrganizationName</p>
                                    <div style="margin-left: auto;">
                                        <img class="cardcontainer3" src="~/assets/selected-star.png" alt="Error">
                                        <img class="cardcontainer3" src="~/assets/selected-star.png" alt="Error">
                                        <img class="cardcontainer3" src="~/assets/selected-star.png" alt="Error">
                                        <img class="cardcontainer3" src="~/assets/star.png" alt="Error">
                                        <img class="cardcontainer3" src="~/assets/star.png" alt="Error">
                                    </div>
                                </div>
                            </div>
                            <hr style="margin-top:0px;margin-bottom: 11px;">
                            <div class="cardcontainer18" style="position:relative;bottom:13px;">
                                @foreach (var item in @Model.GoalMissions)
                                {
                                    if (@card.MissionId == @item.MissionId)
                                    {
                                        <button class="cardcontainer16">
                                            @item.GoalObjectiveText
                                        </button>
                                        break;
                                    }
                                }
                            </div>
                            <ul class="list-group list-group-flush" style="border: 0px; margin-top:-3px;">
                                <li class="list-group-item">
                                    <div class="cardcontainer4" style="display:flex; height:26px;">
                                        <div class="row" style="width:278px;">
                                            <div class="col-6" style="width:43%; padding:0 0 0 6px;">
                                                <div class="cardcontainer5">
                                                    <img class="cardcontainer3" src="~/assets/Seats-left.png" alt="Error">
                                                    <div class="cardcontainer7">
                                                        <p class="cardcontainer8">@card.Availability</p>
                                                        <p class="cardcontainer9">Seats-left</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6" style="width:57%;padding:0 0 0 6px;">
                                                <div class="cardcontainer6">
                                                    <img class="cardcontainer3" src="~/assets/achieved.png" alt="Error">
                                                    <div class="cardcontainer7" style="width:60%;">
                                                        <div class="progress cardcontainer8"
                                                     style="width:auto;height: 8px;">
                                                            <div class="progress-bar bg-warning" role="progressbar"
                                                         aria-label="Warning example" style="width: 75%"
                                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                        @foreach (var item in @Model.GoalMissions)
                                                        {
                                                            if (@card.MissionId == @item.MissionId)
                                                            {
                                                                <p class="cardcontainer9">@item.GoalValue achieved</p>
                                                                break;
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- <hr> -->
                            <hr style="margin-top:0px; margin-bottom:0px;">
                            <div class="card-body" style="text-align:center;">
                                <button type="submit" class="form-control rounded-pill btn btn-outline-warning font"
                                style="width:auto;font-size: 12px;">
                                    Apply <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4" style="padding: 0px 20px 12px 4px;">
                        <div class="card h-100 shadow">
                            <div class="cardcontainer11">
                                @*@foreach(var mImage in @Model.MissionMedia)
                        {
                        <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability.png"
                        class="card-img-top" alt="Error">
                        }*@
                                <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="Error">
                                <button class="cardcontainer12">
                                    <img src="~/assets/pin.png" alt="Error" style="width:11px;">&nbsp;
                                    <span> @card.Country.Name</span>
                                </button>
                                <button class="cardcontainer13">
                                    <img src="~/assets/heart.png" alt="Error" style="width:11px; padding-bottom: 6px;">
                                </button>
                                <button class="cardcontainer14">
                                    <img src="~/assets/user.png" alt="Error" style="width:11px; padding-bottom: 6px;">
                                </button>
                                <button class="cardcontainer15">
                                    @card.MissionTheme.Title
                                </button>
                            </div>
                            <div class="card-body" style="margin-bottom:-15px;position: relative;">
                                <p class="card-title">@card.Title</p>
                                <p class="card-text">
                                    @card.ShortDescription
                                </p>
                                <div class="cardcontainer1" style="display:flex;align-items:baseline;">
                                    <p class="cardcontainer2">@card.OrganizationName</p>
                                    <div style="margin-left: auto;">
                                        <img class="cardcontainer3" src="~/assets/selected-star.png" alt="Error">
                                        <img class="cardcontainer3" src="~/assets/selected-star.png" alt="Error">
                                        <img class="cardcontainer3" src="~/assets/selected-star.png" alt="Error">
                                        <img class="cardcontainer3" src="~/assets/star.png" alt="Error">
                                        <img class="cardcontainer3" src="~/assets/star.png" alt="Error">
                                    </div>
                                </div>
                            </div>
                            <hr style="margin-top:0px;margin-bottom: 11px;">
                            <div class="cardcontainer18" style="position:relative;bottom:13px;">
                                <button class="cardcontainer16">
                                    From @card.StartDate?.ToString("dd-MM-yyyy") until @card.EndDate?.ToString("dd-MM-yyyy")
                                </button>
                            </div>
                            <ul class="list-group list-group-flush" style="border: 0px; margin-top:-3px;">
                                <li class="list-group-item">
                                    <div class="cardcontainer4" style="display:flex; height:26px;">
                                        <div class="row" style="width:278px;">
                                            <div class="col-6">
                                                <div class="cardcontainer5">
                                                    <img class="cardcontainer3" src="~/assets/Seats-left.png" alt="Error">
                                                    <div class="cardcontainer7">
                                                        <p class="cardcontainer8">@card.Availability</p>
                                                        <p class="cardcontainer9">Seats-left</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="cardcontainer6">
                                                    <img class="cardcontainer3" src="~/assets/deadline.png" alt="Error">
                                                    <div class="cardcontainer7">
                                                        <p class="cardcontainer8">@card.Deadline?.ToString("dd-MM-yyyy")</p>
                                                        <p class="cardcontainer9">Deadline</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- <hr> -->
                            <hr style="margin-top:0px; margin-bottom:0px;">
                            <div class="card-body" style="text-align:center;">
                                <button type="submit" class="form-control rounded-pill btn btn-outline-warning font"
                                style="width:auto;font-size: 12px;">
                                    Apply <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="body-2" style="margin-top:35px;">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item ">
                    <a class="page-link cardcontainer17" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item "><a class="page-link cardcontainer17" href="#">1</a></li>
                <li class="page-item "><a class="page-link cardcontainer17" href="#">2</a></li>
                <li class="page-item "><a class="page-link cardcontainer17" href="#">3</a></li>
                <li class="page-item "><a class="page-link cardcontainer17" href="#">4</a></li>
                <li class="page-item "><a class="page-link cardcontainer17" href="#">5</a></li>
                <li class="page-item ">
                    <a class="page-link cardcontainer17" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <hr style="margin-top:35px;">
    <div class="body-2">
        <a asp-controller="Login" asp-action="PolicyPage" class="hover">Privacy Policy</a>
    </div>
</div>
